ul,
li,
h1 {
  color: #343d48;
}

.start-button {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  gap: 5px;
  background-color: #990000;
  color: white;
}
.start-button img {
  height: 20px;
  width: 20px;
}
